/* S */
@media screen and (min-width: 576px) {
    #sidebar {
        width: 250px;
        align-items: flex-start;
        padding: 0 20px;
    }

    .sidebar-icon {
        display: flex;
        align-items: center;
        position: relative;
    }

    .logo .logo-small {
        display: none;
    }

    .logo .logo-big {
        display: block;
        height: 100%;
        margin-bottom: 20px;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .label {
        display: block;
        margin-left: 5px;
        color: gray;
    }

    .active-tab{
        display: block;
    }

    .sidebar-icon:nth-child(2) .label {
        color: white;
    }

    #sidebar-bottom {
        align-items: flex-start;
    }

    #sidebar-bottom hr{
        display: block;
        opacity: .5;
    }

    .login .label {
        color: white;
    }

    .playlist {
        display: block;
    }

    .container-content {
        justify-content: flex-start;
    }

    .menu-content ul {
        width: 80%;
        margin: 0 auto;
    }

    .actual-song {
        width: 25%;
    }

    .controls {
        width: 50%;
    }

    .audio-settings {
        width: 25%;
    }
}

/* MD */
@media screen and (min-width: 768px) {
    .menu-content ul {
        width: 90%;
        margin: 0 auto;
    }

    .album {
        width: calc(100% / 4);
    }

    .album-info .album-name {
        font-size: 14px;
    }

    .song-info {
        margin-right: 30px;
    }

    .player-icons i{
        display: inline-block;
        margin: 0 5px;
    }

    .controls .player-buttons {
        width: 70%;
        margin: 0 auto 10px auto;
    }

    .settings-icons i {
        margin-right: 10px;
    }
}

/* LG */
@media screen and (min-width: 992px) {
    #sidebar {
        width: 200px;
        overflow-y: auto;
    }

    .sidebar-icon{
        height: 20px;
    }

    #sidebar-top .sidebar-icon:first-child{
        height: 30px;
    }

    .login img{
        width: 20px;
    }

    .playlist-list li{
        margin: 10px 0;
    }

    #sidebar-bottom hr {
        display: none;
    }

    .album {
        max-width: 130px;
    }

    .album-info .album-name {
        font-size: 14px;
    }

    .controls .player-buttons{
        width: 35%;
    }

    .controls .track{
        width: 85%;
    }

    .volume-slider {
        width: 40%;
    }
}

/* BONUS XL */
@media screen and (min-width: 1440px) {
    .album {
    }
}