/* S */
@media screen and (min-width: 576px) {
    #sidebar {
        width: 250px;
        align-items: flex-start;
        padding: 0 20px;
    }

    .sidebar-icon {
        display: flex;
        align-items: center;
        position: relative;
    }

    .sidebar-icon .logo-small {
        display: none;
    }

    .sidebar-icon .logo-big {
        display: block;
        height: 100%;
        margin-bottom: 20px;
    }

    #sidebar-top .sidebar-icon:first-child{
        width: 40px;
        height: 40px;
    }

    .label {
        display: block;
        margin-left: 5px;
        color: gray;
    }

    .active-tab{
        display: block;
    }

    .sidebar-icon:nth-child(2) .label {
        color: white;
    }

    .sidebar-icon .download{
        width: 30px;
    }

    .sidebar-icon .download{
        height: 70%;
    }

    #sidebar-bottom {
        align-items: flex-start;
    }

    #sidebar-bottom hr{
        display: block;
        opacity: .5;
    }

    .login .label {
        color: white;
    }

    .playlist {
        display: block;
    }

    .menu-content ul {
        width: 80%;
        margin: 0 auto;
    }

    .album {
        max-width: calc(100% / 2.1);
    }
}

/* MD */
@media screen and (min-width: 768px) {
    .menu-content ul {
        width: 90%;
        margin: 0 auto;
    }

    .container-content {
        justify-content: flex-start;
    }

    .album {
        max-width: calc(100% / 4.5);
        margin-right: 10px;
    }

    .song-info {
        margin-right: 30px;
    }

    .player-icons i{
        display: inline-block;
        margin: 0 5px;
    }

    .controls .player-buttons {
        width: 70%;
        margin: 0 auto 10px auto;
    }

    .settings-icons i {
        margin-right: 10px;
    }
}