* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan";
}

/* utility */
.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

/* Specifics */
main {
    height: calc(100vh - 80px);
    background-color: #141922;
}

#main-content {
    width: calc(100% - 50px);

    overflow-y: auto;
}

header {
    height: 80px;
    ;
    background-color: #080b12;
    opacity: .8;
    position: sticky;
    top: 0;
    text-align: right;
    padding: 10px;
    z-index: 1;
}

#sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
}

#sidebar-top {
    height: 80%;
    padding: 10px 0;
}

.sidebar-icon {
    height: 30px;
    margin: 10px 0;
    text-align: center;
}

.sidebar-icon img {
    height: 100%;
}

.active-tab{
    display: none;
    position: absolute;
    left: -20px;
    width: 4px;
    height: 100%;
    background-color: #adff2f;
}

.label {
    display: none;
}

.sidebar-icon .logo-big {
    display: none;
}

.sidebar-icon .search,
.sidebar-icon .library,
.sidebar-icon .download {
    opacity: .5;
}

#sidebar-bottom {
    height: 20%;
    justify-content: flex-end;
}

#sidebar-bottom hr {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.sidebar-icon .download {
    height: 70%;
}

.login img {
    width: 30px;
    height: 100%;
    background-color: gray;
    border-radius: 100%;
}

.playlist {
    display: none;
    color: gray;
    margin: 20px 0;
}

.playlist .playlist-title {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    margin-bottom: -10px;
}

.playlist-list li {
    list-style-type: none;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 600;
}

.add-playlist {
    font-size: 16px;
}

.add-playlist i {
    font-size: 40px;
    margin-right: 10px;
}

.upgrade {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.menu-content ul li {
    position: relative;
    list-style-type: none;
    margin: 10px;
}

.menu-content ul li a {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.menu-content ul li .line {
    display: none;
    width: 25px;
    height: 2px;
    background-color: #adff2f;
    margin: 2px;
}

.menu-content ul li:first-child .line {
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-content {
    justify-content: space-between;
}

.section-title {
    color: white;
    font-weight: 900;
    font-size: 25px;
    margin: 20px 0;
}

.section-description {
    color: white;
    opacity: .5;
    font-size: 16px;
    font-weight: 100;
    margin-top: 5px;
}

.album {
    max-width: 190px;
}

.cover-img {
    width: 100%;
}

.album-info {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.album-info .album-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.album-info .artist {
    opacity: .5;
    font-size: 14px;
    font-weight: 600;
}

#popular-artists .cover-img {
    border-radius: 100%;
}





footer {
    height: 80px;
    background-color: #282828;
}

.player {
    padding: 10px;
}

.actual-song {
    width: 30%;
}

.actual-song img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.song-info {
    color: white;
    margin-right: 15px;
}

.song-info .song-album {
    font-size: 12px;
}

.song-info .song-name {
    font-size: 10px;
    opacity: .5;
}

.player-icons i {
    display: block;
    margin: 5px 0;
    color: white;
    opacity: .5;
}

.controls {
    width: 40%;
    color: white;
    padding: 0 10px;
}

.player-buttons {
    margin-bottom: 10px;
}

.player-buttons .play {
    font-size: 30px;
}

.track {
    width: 70%;
    height: 4px;
    background: gray;
    border-radius: 50px;
}

.track .actual-track {
    width: 20%;
    height: 100%;
    border-radius: 50px;
    background: white;
}


.audio-settings {
    width: 30%;
}

.settings-icons {
    width: 50%;
    text-align: right;
}

.settings-icons i {
    color: white;
    margin-right: 3px;
    font-size: 12px;
}

.volume-slider {
    width: 60%;
    height: 4px;
    border-radius: 50px;
    background-color: gray;
}

.actual-volume {
    width: 70%;
    height: 100%;
    background-color: white;
}